/**
 * style definitions for the Montage component
 *
 * @module plurishing-backoffice/features/Montage
 */

@import '../../../parameters.scss';



/*
 * Primary layout
 */

.plurishing-backoffice-Montage
{
  height: 100%;
  overflow: hidden;
  .column{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;
    .column-content{
      flex: 1;
      overflow: auto;
    }
  }

  .column:first-of-type{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    > .column-content{
      .montage-editor-wrapper,
      .body{
        height: 100%;

      }

      .plurishing-SchemaForm{
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;
        overflow : hidden;
        > .schema-item{
          flex: 1;
          overflow: auto;
        }
      }
    }
  }
}