/**
 * style definitions for the Layout component
 *
 * @module backoffice/features/Layout
 */

@import '../../../parameters.scss';



.plurishing-backoffice-Layout{
  display: flex;
  flex-flow: column nowrap;
  justify-contents: spread;

  overflow: hidden;
  position : absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  > nav{
    overflow: hidden;
    background: rgba(0,0,0,0.05);

    .navbar-burger{
      background: inherit;
      border: none;
    }

    .navbar-start{
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
          justify-content: stretch;
          flex: 1;
          @media screen and (max-width: 1024px){
            flex-flow: column nowrap;
          }
    }
    li{
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      align-items: stretch;
      flex: 1;
      a{
        flex: 1;
      }
    }
    .navbar-brand,
    .navbar-brand h1{
      flex-flow: column nowrap;
      justify-content: stretch;
      align-items: stretch;
      h1{
        margin: 0;
        flex: 1;
        a{
          flex: 1;
        }
      }
    }
    .navbar-brand{
      @media screen and (max-width: 1024px){
        flex-flow: row nowrap;
        h1{
          display: flex;
          flex-flow: row nowrap;
          justify-content: stretch;
          align-items: stretch;
          a{
            flex: 1;
            height: 100%;
          }
        }
      }
    }
  }

  > section{
    flex: 5;
    overflow: auto;
    height: 100%;
  }
}