


.plurishing-backoffice-FacebookPreview
{

  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 12px 12px 0;

  .fb-important{
    color: #3b599d;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
      // color: #389ebc;
    }
  }

  .profile-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .header{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    .left{
      // flex: 1;
    }
    .right{
      margin-left: 1rem;
      flex: 1;

      h3{
        margin: 0;
        padding-top: 0;
        font-weight: 900;
        font-size: 1.5em;
      }
      .post-info{
        color: #90949c;
      }
    }
  }
}