/**
 * style definitions for the Composition component
 *
 * @module plurishing-backoffice/features/Composition
 */

@import '../../../parameters.scss';



/*
 * Primary layout
 */

.plurishing-backoffice-Composition
{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
  .header{
    .title{
      display: flex;
      align-items: center;
    }
  }

  .preview-mode-switcher{
    padding-bottom: 1rem;
  }
  
  .composition-editor-wrapper{
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    .body{
      flex: 5;
      position: relative;
      .plurishing-backoffice-CompositionEditor,
      .editor-wrapper,
      .scholar-draft-Editor {
        position: absolute;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .plurishing-backoffice-CompositionEditor{
        padding-left: 5%;
        padding-right: 5%;
        overflow: auto;
      }
    }
  }
  .plurishing-backoffice-Resources {
    flex: 1;
  }

  .DraftEditor-editorContainer{
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .public-DraftEditor-content{
    background: rgba(0,0,0,0.05);
    padding: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      color: #363636;
      font-weight: 600;
      line-height: 1.125;
    }
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.5rem;
    }
    h3{
      font-size: 1.3rem;
    }
    h4{
      font-size: 1.2rem;
    }
    h5{
      font-size: 1.1rem;
    }
  }
}