

@import '../../parameters.scss';


.plurishing-SchemaForm{

  .schema-item{
    background: rgba(0,0,0,0.01);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .column{
      max-width: 50%;
    }
  }

}