/**
 * style definitions for the ContextualizationWidget component
 *
 * @module plurishing-backoffice/components/ContextualizationWidget
 */
@import '../../parameters.scss';

.plurishing-backoffice-ContextualizationWidget
{
    background: darkgrey;
    color: white;
    padding: 1rem;
    width: unset;
    max-width: 40rem;
    max-height: 20rem;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .search-form
    {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        padding-bottom: 1rem;
        // @extend .flex-stretched-row;
        .arobase
        {
            // font-size: $font-size-3;

            flex: 1;

            text-align: center;
        }
        input
        {
            flex: 20;
        }
    }
    .choice-options-container
    {
        margin-top: 1rem;
        overflow: auto;
        flex: 1;

        margin: 0;
        padding: 0;
        .choice-option
        {
            // padding: $gutter-medium;

            list-style-type: none;

            // @extend .important-item;
            // @extend .animated;
            &:hover,
            &.active
            {
                cursor: pointer;

                // @extend .important-item-intent;
            }
        }
        button{
            overflow: auto;
            width: 100%;
            text-align: left;
            justify-content: unset;
        }
    }
}
