/**
 * Backoffice Application
 * =======================================
 * Reusable mixins
 * @module backoffice
 */

@mixin transition($args...)
{
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}
