
/**
 * Backoffice Application
 * =======================================
 * Variables and abstract classes of the component
 * @module backoffice
 */

// $main-font-stack: 'Source Sans Pro', sans-serif;
// $editable-font-stack: 'Source Code Pro', sans-serif;
// $display-font-stack: 'Source Sans Pro', serif;
// todo : remove these
//colors
// new colors
// gutters
//responsive breakpoints
// font sizes
// time
// dimensions

@import './mixins';

// abstract classes
// supposed to be used in other scss definition
// with @extend operator



// bulma customization
.button{
  border-radius: unset;
}
.box .media .media-left {
  width: 7rem;
}

// global classes
.aside-picker{
  background: rgba(0,0,0,0.05);
  height: 100%;
  overflow: auto;
  .container{
    margin: 0;
  }
  h1{
    display: none;
  }
  .box .media .media-left {
    width: unset;
  }
}

.ReactModal__Content{
  form{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    > div{
      flex: 1;
      overflow: auto;
    }
  }
}